.banner {
  padding: 45px 0 30px 0;
}

.banner__wrapper {
  padding: 145px 0 40px 112px;
  background-image: url('../image/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  display: grid;
}

.banner__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  color: #FFFFFF;
  align-self: end;
  margin-bottom: 100px;
}

.banner__block {
  align-self: end;
}

.block__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
}

.block__time {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
}

.block__time_number {
  font-size: 60px;
  line-height: 130%;
}


@media (max-width: 1024px) {
  .banner {
    padding: 30px 0 25px 0;
  }
  .banner__wrapper {
    padding: 80px 0 36px 80px;
  }
  .banner__title {
    font-size: 40px;
    margin-bottom: 63px;
  }
  .block__text {
    font-size: 16px;
  }
  .block__time {
    font-size: 20px;
  }
  .block__time_number {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 25px 0 20px 0;
  }

  .banner__wrapper {
    padding: 64px 0 30px 80px;
  }
  .banner__title {
    font-size: 30px;
    margin-bottom: 82px;
  }
  .block__text {
    font-size: 12px;
  }
  .block__time {
    font-size: 16px;
  }
  .block__time_number {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .banner {
    padding: 20px 0 10px 0;
  }
  .banner__wrapper {
    padding: 50px 25px 30px 25px;
  }
  .banner__title {
    font-size: 18px;
    margin-bottom: 189px;
  }
  .block__text {
    font-size: 8px;
  }
  .block__time {
    font-size: 12px;
  }
  .block__time_number {
    font-size: 20px;
  }
}
