.container__blog {
  padding-bottom: 100px ;
  width: 1650px;
  margin: 0 auto;
}

.bread{
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #525252;
  word-spacing: 10px;
}

.blog__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  margin-bottom: 100px;
}

.blog__item {
  width: 645px;
  display: flex;
  gap: 30px;
}

.blog__img {
  width: 195px;
  height: 195px;
  display: block;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 13px;
}

.blog__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: $color-grey;
  overflow: hidden;
  height: 120px;
}

.blog__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8F8F8F;
}

.counter__wrapper {
  display: flex;
  gap: 25px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.counter__views,
.counter__message {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8F8F8F;
}

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pagination__item {
  border: 2px solid $color-grey;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow__left {
  background-image: url('../image/blog/arrow.svg');
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.arrow__rigth {
  background-image: url('../image/blog/arrow.svg');
  transform: rotate(180deg);
  display: block;
  width: 20px;
  height: 20px;
}

.arrow {
  border: none;
}

