.profitable {
  padding: 50px 0 70px 0;

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: $color-grey;
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 47px;
    column-gap: 30px;

    @media (max-width: 1024px) {
      row-gap: 40px;
      column-gap: 20px;
    }
  }

  &__card {
    width: 420px;

    @media (max-width: 1024px) {
      width: 300px;
    }

    @media (max-width: 768px) {
      width: 220px;
    }
    @media (max-width: 320px) {
      width: 130px;

    }
  }
}

.card {
  &__wrapper {
    height: 295px;
    border-radius: 14px;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
      height: 216px;
    }
    @media (max-width: 320px) {
      height: 90px;
      background-position: center;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  &-1 {
    background-image: -webkit-image-set(
          url('../image/profitable/photo1.avif') type("image/avif"),
          url('../image/profitable/photo1.webp') type("image/webp"),
          url('../image/profitable/photo1.jpg'));
      background-image: image-set(url('../image/profitable/photo1.avif') type("image/avif"),
          url('../image/profitable/photo1.webp') type("image/webp"),
          url('../image/profitable/photo1.jpg'));
  }

  &-2 {
    background-image: -webkit-image-set(url('../image/profitable/photo2.avif') type("image/avif"),
          url('../image/profitable/photo2.webp') type("image/webp"),
          url('../image/profitable/photo2.jpg'));
      background-image: image-set(
          url('../image/profitable/photo2.avif') type("image/avif"),
          url('../image/profitable/photo2.webp') type("image/webp"),
          url('../image/profitable/photo2.jpg'));
    background-size: auto 100%;
    background-position: center;
  }

  &-3 {
    background-image: -webkit-image-set(url('../image/profitable/photo3.avif') type("image/avif"),
          url('../image/profitable/photo3.webp') type("image/webp"),
          url('../image/profitable/photo3.jpg'));
      background-image: image-set(url('../image/profitable/photo3.avif') type("image/avif"),
          url('../image/profitable/photo3.webp') type("image/webp"),
          url('../image/profitable/photo3.jpg'));
  }

  &-4 {
    background-image: url('../image/profitable/photo4.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo4.avif') type("image/avif"),
          url('../image/profitable/photo4.webp') type("image/webp"),
          url('../image/profitable/photo4.jpg'));
      background-image: image-set(url('../image/profitable/photo4.avif') type("image/avif"),
          url('../image/profitable/photo4.webp') type("image/webp"),
          url('../image/profitable/photo4.jpg'));
  }

  &-5 {
    background-image: url('../image/profitable/photo5.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo5.avif') type("image/avif"),
          url('../image/profitable/photo5.webp') type("image/webp"),
          url('../image/profitable/photo5.jpg'));
      background-image: image-set(url('../image/profitable/photo5.avif') type("image/avif"),
          url('../image/profitable/photo5.webp') type("image/webp"),
          url('../image/profitable/photo5.jpg'));
  }

  &-6 {
    background-image: url('../image/profitable/photo6.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo6.avif') type("image/avif"),
          url('../image/profitable/photo6.webp') type("image/webp"),
          url('../image/profitable/photo6.jpg'));
      background-image: image-set(url('../image/profitable/photo6.avif') type("image/avif"),
          url('../image/profitable/photo6.webp') type("image/webp"),
          url('../image/profitable/photo6.jpg'));
  }

  &-7 {
    background-image: url('../image/profitable/photo7.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo7.avif') type("image/avif"),
          url('../image/profitable/photo7.webp') type("image/webp"),
          url('../image/profitable/photo7.jpg'));
      background-image: image-set(url('../image/profitable/photo7.avif') type("image/avif"),
          url('../image/profitable/photo7.webp') type("image/webp"),
          url('../image/profitable/photo7.jpg'));
  }

  &-8 {
    background-image: url('../image/profitable/photo8.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo8.avif') type("image/avif"),
          url('../image/profitable/photo8.webp') type("image/webp"),
          url('../image/profitable/photo8.jpg'));
      background-image: image-set(url('../image/profitable/photo8.avif') type("image/avif"),
          url('../image/profitable/photo8.webp') type("image/webp"),
          url('../image/profitable/photo8.jpg'));
  }

  &-9 {
    background-image: url('../image/profitable/photo9.jpg');
    background-image: -webkit-image-set(url('../image/profitable/photo9.avif') type("image/avif"),
          url('../image/profitable/photo9.webp') type("image/webp"),
          url('../image/profitable/photo9.jpg'));
      background-image: image-set(url('../image/profitable/photo9.avif') type("image/avif"),
          url('../image/profitable/photo9.webp') type("image/webp"),
          url('../image/profitable/photo9.jpg'));
  }

  &__price {
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: $color-grey;
    @media (max-width: 320px) {
      font-size: 12px;
    }
  }
}

.new-price {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: $color-grey;
  margin-right: 28px;
  @media (max-width: 320px) {
    font-size: 16px;
  }
}

.old-price {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: $color-grey;
  @media (max-width: 320px) {
    font-size: 12px;
  }
}
