.container__shop {
  display: grid;
  grid-template-areas:
    'basket total'
    'delivery total';
  gap: 30px;
  margin-bottom: 100px;

  @media (max-width: 1024px) {
    grid-template-areas:
      'basket'
      'delivery'
      'total';
  }
}

.basket {
  position: relative;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
  padding: 30px 40px;
  position: relative;
  grid-area: basket;

  @media (max-width: 1024px) {
    max-width: 940px;
  }

  &__title {
    color: #2D2D2D;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;

    &-count {
      color: #2D2D2D;
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  }

  &__reset {
    background-image: url('../image/shop/delete.svg');
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #FFF;
    position: absolute;
    top: 110px;
    right: 40px;
  }
}

.checkbox__all-goods {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

}

input[name="all-goods"] {
  width: 20px;
  height: 20px;
  margin-right: 14px;
  margin-bottom: 20px;
}

input[name="product"] {
  width: 20px;
  height: 20px;
  margin-right: 23px;
}

.basket-product {

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 1024px) {
      width: 800px;
    }

    &-goods {
      display: flex;
      gap: 137px;

      @media (max-width: 1024px) {
        gap: 0px;
      }
    }

    &-description {
      width: 450px;
    }
  }

  &__img {
    max-width: 130px;
    max-height: 130px;
    margin-right: 12px;
  }

  &__title {
    color: #2D2D2D;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__text {
    color: #8F8F8F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__count {
    display: flex;
    align-items: center;
    color: #2D2D2D;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__price-new {
    color: #2D2D2D;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
  }

  &__price-old {
    color: #8F8F8F;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
    margin-bottom: 15px;
  }

  &__link {
    color: #3670C7;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.count__btn {
  &-less {
    border: 0;
    background-color: #FFF;
    margin-right: 10px;
  }

  &-more {
    border: 0;
    background-color: #FFF;
    margin-left: 10px;
  }
}

.total {
  width: 420px;
  height: 538px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
  grid-area: total;
  padding: 30px 40px;

  &__result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__full {
    color: #2D2D2D;
    font-size: 26px;
    font-weight: 700;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }


  &__text {
    color: #8F8F8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }


  &__sale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }


  &__delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }


  &__point {
    margin-bottom: 20px;

    &--mb10 {
      margin-bottom: 10px;
    }

    &--mb5 {
      margin-bottom: 10px;
    }
  }


  &__text--strong {
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }


  &__text--link {
    color: #3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    cursor: pointer;
  }


  &__supply-date {
    margin-bottom: 20px;
  }


  &__payment {
    margin-bottom: 30px;
  }


  &__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 14px 100px 16px 100px;
    border-radius: 10px;
    border: none;
    background: #3670C7;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }


  &__input {
    color: #8F8F8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }


  &__input--link {
    color: #525252;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

}

input[name="agreement"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.delivery {
  width: 1320px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
  grid-area: delivery;
  padding: 30px 40px;

  @media (max-width: 1024px) {
    max-width: 940px;
  }


  &__method {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

    &--btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      text-align: right;
      color: #3670c7;
      border: none;
      background-color: transparent;
    }
  }


  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: #2d2d2d;
  }


  &__general {
    display: flex;
    gap: 113px;
    margin-bottom: 30px;
  }


  &__point {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #8f8f8f;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  &__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2d2d2d;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  &__basket {
    display: flex;
    gap: 113px;
  }


  &__date {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #2d2d2d;
  }


  &__basket--image {
    display: flex;
    align-items: center;
  }
}
